.product-wrapper {
    border: 1px solid gray;
    padding: 5px;
    width: 100%;
}
.product-table {
    vertical-align: middle;
    table-layout: fixed;
}

.product-details {
    width: 20%;
}

.product-image {
    width: 20%;
}

.buy-button{
    width: 20%;
}

.title-table{
    vertical-align: top;
}